<!DOCTYPE html>
<head>
	<style>
	li {
		cursor: default;
	}
	.window {
    resize: both;
		border: 2px solid black;
		height: 10%;
		width: 20%;
		min-height: 5%;
		max-height: 200px;
		min-width: 15%;
		max-width: 30%;
		overflow: hidden;
	}
	</style>
  <title>Pusher Test</title>
  <script src="http://js.pusher.com/2.0/pusher.min.js" type="text/javascript"></script>
  <script src='http://code.jquery.com/jquery-1.9.1.js' type="text/javascript">
	</script>
	<script src="http://underscorejs.org/underscore.js" type="text/javascript"></script>

</head>

<body>
	<div id="users">
	</div>
	<div id="chats">
	</div>
</body>
  <script type="text/javascript">
		$(function() {
			// Enable pusher logging - don't include this in production
	    Pusher.log = function(message) {
	      if (window.console && window.console.log) window.console.log(message);
	    };

	    // Flash fallback logging - don't include this in production
	    WEB_SOCKET_DEBUG = true;

	    var pusher = new Pusher('59f43f1f5867e554bcfb');

      CA.onlineUsers = pusher.subscribe('presence-online')
			CA.onlineUsers.bind('pusher:subscription_succeeded', function(members){
				CA.users = members;
				CA.usersView.render();
			});
			CA.onlineUsers.bind('pusher:member_added', function(member) {
			  CA.usersView.render();
			});
			CA.onlineUsers.bind('pusher:member_removed', function(member) {
			  CA.usersView.render();
			});
			CA.onlineUsers.bind('client-receive_message', function(data) {
				if ( data['target'] == CA.users.me.info.name ) {
					var user = data['user'];
					var message = data['message'];
					CA.chats[user] ? '' : CA.chats[user] = [] ;
				  CA.chats[user].push(user + ': ' + message);
	        CA.chatsView.render();
				}
			});


			CA.chatsView = new CA.Views.ChatsView({el: $('#chats')})
			CA.usersView = new CA.Views.UsersView({el: $('#users')})
		});
  </script>

