<div>
	<div class="box">
	<%= JST['toolbar']({name: chatname}) %>

		<div id='<%= chatname %>' class='chatwindow'>
			<ul>
				<% _(CA.chats[chatname]).each(function(message){ %>
				  <li><%= message %></li>
				<% }); %>
			</ul>
			<input type='text' placeholder='enter message' data-target='<%= chatname %>'>
			</input>
		</div>
	</div>
</div>