	<nav class="control-window">

		<a href="#" class="close">close</a>
		<a href="#" class="maximize">maximize</a>
    <a href="#" class="minimize">minimize</a>
	</nav>
	<h1 class="titleInside"><%= name %></h1>